<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin fou</title>
    <style>
        *{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: black;
            color: white;
        }
        h1{
            text-align: center;
        }
        img{
            width: 50vw;
            margin-left: 25vw;
        }
    </style>
</head>
<body>

    <h1>WOAW un admin fou</h1>
    
</body>
</html>