<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C'EST PARTI</title>
    <style>
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: black;
        color: white;
    }
    h1{
        text-align: center;
    }
    img{
        width: 50vw;
        margin-left: 25vw;
    }
    </style>
</head>
<body>
    <h1>QUEL SERA VOTRE GAIN ?</h1>
    <img src="https://media0.giphy.com/media/324YsTvKSzEZMAbhKN/giphy.gif?cid=790b76115d2ca8af39797a65493ca4e6&rid=giphy.gif" alt="spinner">
    <script>
        setTimeout(function(){  window.location = "/pwn"; }, 3000);
    </script>

</body>
</html>