<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>It's over 9000</title>
	<style>
		* {
			background-color: black;
		}

		img {
			width: 100vw;
			height: 100vh;
		}
	</style>
</head>

<body>
	<img src="https://www.wykop.pl/cdn/c3201142/comment_4qIxGMLiny4QkmC2eTRWKjfnogDIIAtP.gif" alt="">
	<script>
		console.log("Merci à tous d'avoir joué le jeu, bonne chance pour l'exam.");
	</script>
</body>

</html>