<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Houston, we have a problem</title>
	<style>
		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			background-color: black;
			color: white;
		}

		h1 {
			text-align: center;
		}

		img {
			width: 100vw;
			height: 100vh;
		}
	</style>
</head>

<body>
	<img src="https://www.wykop.pl/cdn/c3201142/comment_4qIxGMLiny4QkmC2eTRWKjfnogDIIAtP.gif" alt="">
	<script>
		setTimeout(function () {
			window.location = "/pwn";
		}, 3000);
	</script>

</body>

</html>