<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Anti-decepticons protection</title>
	<style>
		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			background-color: black;
			color: white;
		}

		h1 {
			text-align: center;
		}

		#bolosses {
			text-align: center;
			margin-top: 5vh;
		}

		span {
			margin-right: 50px;
		}

		img.mdr {
			width: 20vw;
		}

		img#ahah {
			margin-left: 10vw
		}

		img#boloss {
			width: 100px;
			border-radius: 100%
		}
	</style>
</head>

<body>
	<h1>Get rekt!</h1>
	<img id="ahah" class="mdr"
		src="https://media.giphy.com/media/QZB0rrcGLljpu/source.gif"
		alt="ahah">
	<img id="loser" class="mdr"
		src="http://giphygifs.s3.amazonaws.com/media/3OhXBaoR1tVPW/giphy.gif"
		alt="hihi">
	<img id="mdr" class="mdr" src="http://giphygifs.s3.amazonaws.com/media/Hwq45iwTIUBGw/giphy.gif" alt="ohoh">
	<img id="haha" src="https://pijnackersebridgeclub.nl/Toernooi/images/8345_In_bewerking.gif" alt="haha">
	<div id="bolosses">
		You lost, filthy decepticon. Ahah !
	</div>
</body>
</html>