<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>1 last step...</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		body {
			background: url('https://image.noelshack.com/fichiers/2019/32/5/1565376872-blackhole20190410.jpg') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			color: white;
		}

		.box {
			margin-top: 20vh;
		}

		h1 {
			text-align: center;
		}

		h5 {
			color: #f44336;
		}

		form {
			margin-top: 35vh;
		}
	</style>
</head>

<body>
	<% if (locals.error) { %>
	<h5 class="center-align"><%= error %></h5>
	<% } %>
	<div class="box">
		<h3 class="center-align">Mon appétit est sans fin, grand est mon gosier,</h3>
		<h3 class="center-align">Gare à ta gamelle ! De son oreille je suis né.</h3>

	</div>

	<form action="/ariane" method="post" class="center-align">
		<div class="container">
			<input type="text" name="whoami">
		</div>
		<button type="submit" class="btn waves-effect waves-light">Envoyer</button>
	</form>
	<p style="position: fixed;bottom: 10px; left: 20px;">Photo non contractuelle</p>
</body>

</html>