<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>You found the secret path</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		body {
			background-color: black;
		}

		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			color: white;
		}

		h1 {
			text-align: center;
		}

		h5 {
			color: #f44336;
		}

		img {
			width: 100%;
		}
	</style>
</head>

<body>
	<div class="container" class="center-align">
		<% if (locals.error) { %>
		<h5 class="center-align"><%= error %></h5>
		<% } %>
		<% if (locals.image) { %>
		<img src="<%= image %>" alt="">
		<% } %>
		<% if (locals.question) { %>
		<h3 class="center-align"><%= question %></h3>
		<% } %>
		<form action="/optimusprime" method="post" class="center-align" style="position: absolute;bottom: 30px;width: 100vw;left:0;">
			<div class="container">
				<input type="text" name="answer">
			</div>
			<button type="submit" class="btn waves-effect waves-light">Envoyer</button>
		</form>
	</div>
</body>

</html>