<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>1 last step...</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			background-color: black;
			color: white;
		}

		h1 {
			text-align: center;
		}

		h5 {
			color: #f44336;
		}

		img {
			width: 50vw;
			margin-left: 25vw;
			margin-bottom: 100px;
		}
	</style>
</head>

<body>
	<img src="https://image.noelshack.com/fichiers/2019/29/6/1563628453-deepthought.jpg" alt="2017-06-11-deep-thought"
		border="0">
	<% if (locals.error) { %>
	<h5 class="center-align"><%= error %></h5>
	<h3 class="center-align">Quelle est ta question ?</h3>
	<% } %>
	<form action="/styx" method="post" class="center-align">
		<div class="container">
			<input type="text" name="omaewa">
		</div>
		<button type="submit" class="btn waves-effect waves-light">Envoyer</button>
	</form>
</body>

</html>