<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Secret</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		body {
			background: url('https://image.noelshack.com/fichiers/2019/34/1/1566219343-b1c15m2.jpg') no-repeat
			center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			color: white;
		}

		.box {
			margin-top: 20vh;
		}

		h1 {
			text-align: center;
		}

		h4 {
			margin-top: 20vh;
		}

		h5 {
			color: #f44336;
		}

		form {
			margin-top: 50vh;
		}
	</style>
</head>

<body>
	<% if (locals.error) { %>
	<h5 class="center-align"><%= error %></h5>
	<% } %>
	<h4 class="center-align">"On a beau confondre son nom avec celui qui se contemple,<br />
		Cette femme, subjuguée non par son reflet mais par le serpent.<br />
		Montra néanmoins le bon exemple,<br />
		Grâce à bonté refoulée elle sauva l'enfant.</h4>

	<form action="/secret" method="post" class="center-align">
		<div class="container">
			<input type="text" name="whoami">
		</div>
		<button type="submit" class="btn waves-effect waves-light">Envoyer</button>
	</form>
</body>

</html>