<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tig</title>
    <style>
        *{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h1>TIG</h1>
    <div id="bolosses">

    </div>
</body>
</html>

<script>

var tig = ["user1", "user2", "user3", "user4", "user5"]
var bolosses = document.getElementById("bolosses")

console.log(tig.length)

for(var i = 0; i < tig.length; i++)
{
    bolosses.innerHTML += "<p>" + tig[i] + "</p>"
}

</script>