<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>C'EST PARTI</title>
	<style>
		* {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			background-color: black;
			color: white;
		}

		h1 {
			text-align: center;
		}

		img {
			width: 50vw;
			margin-left: 25vw;
		}
	</style>
</head>

<body>
	<h1>Tu dois attendre avant de retenter ta chance 🤷</h1>
	<img src="https://media.giphy.com/media/cjhBClBwZAHs3TEzDH/giphy.gif" alt="wait">

	<h1 id="timer"></h1>
	<script>
		// Set the date we're counting down to
		var countDownDate = Math.floor( <%= countDownDate %> ) + 21600000;
		// Update the count down every 1 second
		var x = setInterval(function () {
				// Find the distance between now and the count down date
				var now = Date.now();
				var distance = countDownDate - now;

				// Time calculations for days, hours, minutes and seconds
				var hours = Math.floor(distance / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				if (hours < 10)
					hours = '0' + hours;
				if (minutes < 10)
					minutes = '0' + minutes;
				if (seconds < 10)
					seconds = '0' + seconds;
				// Display the result in the element with id="demo" 
				document.getElementById("timer").innerHTML = hours + " : " + minutes + " : " + seconds + "";
				// If the count down is finished, write some text 
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("timer").innerHTML = "EXPIRED";
				}
			},
			1000);
	</script>

</body>

</html>